@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Roboto:ital,wght@1,100&display=swap');

html, body {
    font-family: 'Roboto' sans-serif;
}

.container {
    background-color: #2b2d2f;
    position: relative;
    height: 150px;
}

.element {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 280px;
    font-size: 36px;
}

#yellow-box {
    background-color: #ffff00;
 
    position: static;
    bottom: 10px;
    left: 500px;
    right: 0;
    top: 0;

    /* margin-top: 10px; */
    z-index: -100;
}

#pink-box {
    background-color: #ff69b4;
   
    position: relative;
    bottom: 10px;
    left: 50px;
    right: 0;
    top: 0;
    z-index: -10;
}

#blue-box {
    background-color: #00eeee;
    position: absolute;
    bottom: 10px;
    left: 60px;
    right: 0;
    top: 0;
    z-index: -2;
}

#red-box {
    background-color: #ff0000;
    /* /* Fill these in */
    position: fixed;
    bottom: 0;
    left: 200px;
    right: 0;
    top: 40px;
    z-index: -5;
}

#orange-box {
    background-color: #ffa500;
 
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
    z-index: -4;
}